@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --f-inter: "Inter", serif;
    --border: 1px solid rgba(255,255,255,0.2);
    --border-occupied: 1px solid rgba(255,255,255,0.4);
    --keyboard-letter-bg: rgb(25,25,25);
    --keyboard-letter-bg-hover: rgb(35,35,35);
    --keyboard-letter-bg-active: rgb(30,30,30);
    --keyboard-enter-bg: rgb(35,35,35);
    --keyboard-enter-bg-hover: rgb(45,45,45);
    --keyboard-enter-bg-active: rgb(40,40,40);
    --keyboard-remove-bg: rgb(35,35,35);
    --keyboard-remove-bg-hover: red;
    --keyboard-remove-bg-active: rgb(210, 0, 0);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--f-inter);
}

body {
    background-color: rgb(17,17,17);
}

main {
    --width: 350px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 50px;
    padding-block: 50px;
}

/* ERROR MESSAGES */

.error-messages {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 40px;
    row-gap: 20px;
    pointer-events: none;
}

.error-message {
    color: white;
    background-color: rgba(255,255,255,0.2);
    padding: 10px;
    border-radius: 0.2rem;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: var(--border);
}

/* MAIN WORDS CONTAINER */

.main-words-container {
    width: var(--width);
    height: 430px;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    row-gap: 5px;
}

/* MAIN WORD INNER */

.main-word-inner {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 5px;
}

.main-word-inner-error {
    animation: 200ms forwards word-container-error-animation;
}

@keyframes word-container-error-animation {
    0%{transform: translateX(0);}
    25%{transform: translateX(5px);}
    50%{transform: translateX(0);}
    75%{transform: translateX(-5px);}
    100%{transform: translateX(0);}
}

/* MAIN WORD INNER ITSELF */

.main-word-inner-itself {
    border: var(--border);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 800;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.main-word-inner-itself-occupied {
    border: var(--border-occupied);
}

/* 

    MAIN KEYBOARD

*/

.main-keyboard {
    width: 650px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

/* MAIN KEYBOARD INNER TOP */

.main-keyboard-inner-top {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    column-gap: 10px;
}

/* MAIN KEYBOARD INNER MIDDLE */

.main-keyboard-inner-middle {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    column-gap: 10px;
}

/* MAIN KEYBOARD INNER BOTTOM */

.main-keyboard-inner-bottom {
    width: 100%;
    display: grid;
    grid-template-columns: auto repeat(7, 1fr) auto;
    column-gap: 10px;
}

/* MAIN KEYBOARD BUTTON LETTER */

.main-keyboard-button-letter {
    padding-block: 15px;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 0.5rem;
    border: 0;
    background-color: var(--keyboard-letter-bg);
    color: white;
    border-top: 1px solid rgba(255,255,255,0.1);
    border-bottom: 1px solid rgba(255,255,255,0.05);
    cursor: pointer;
}

.main-keyboard-button-letter:hover {
    background-color: var(--keyboard-letter-bg-hover);
}

.main-keyboard-button-letter:active {
    background-color: var(--keyboard-letter-bg-active);
}

/* MAIN KEYBOARD BUTTON ENTER */

.main-keyboard-button-enter {
    padding: 15px;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 0.5rem;
    border: 0;
    background-color: var(--keyboard-enter-bg);
    color: white;
    border-top: 1px solid rgba(255,255,255,0.1);
    border-bottom: 1px solid rgba(255,255,255,0.05);
    cursor: pointer;
}

.main-keyboard-button-enter:hover {
    background-color: var(--keyboard-enter-bg-hover);
}

.main-keyboard-button-enter:active {
    background-color: var(--keyboard-enter-bg-active);
}

/* MAIN KEYBOARD BUTTON ENTER */

.main-keyboard-button-remove {
    padding: 15px 20px;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 0.5rem;
    border: 0;
    background-color: var(--keyboard-enter-bg);
    color: white;
    border-top: 1px solid rgba(255,255,255,0.1);
    border-bottom: 1px solid rgba(255,255,255,0.05);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-keyboard-button-remove-svg {
    fill: white;
    width: 18px;
    height: 18px;
}

.main-keyboard-button-remove:hover {
    background-color: var(--keyboard-remove-bg-hover);
}

.main-keyboard-button-remove:active {
    background-color: var(--keyboard-remove-bg-active);
}